<h2>会員一覧</h2>
<tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
</tr>

<% @customers.each do |item| %>
<tr>
    <th><%= customer.id %></th>
    <th><%= link_to customer.name, admin_customer_path(customer.id) %></th>
    <th><%= customer.email %></th>
    <th><%= customer.is_active ? '有効' : '退会'%></th>
</tr>

<%= paginate @customers %>
<% end %>