  <h2>ジャンル一覧・追加</h2>


  <%= form_with model: @genre, url: admin_genres_path, method: :post, local: true do |f| %>

<!--<div class="form-grouo row">-->
<!--   <label for="genre-name" class="col-sm-3 col-form-label">ジャンル名</label>-->
<!--   <div class="col-sm-6 ">-->
<!--    <input type="text" name="genre-name" placeholder="ジャンル名">-->
<!--   </div>-->
<!--   <div class="col-sm-2">-->
<!--    <button type="submit" class="btn btn-primary">新規登録</button>-->
<!--   </div>-->
<!-- </div>-->

<div class="form-group">
  	<label for="genre-name">ジャンル名</label>
    <%= f.text_field :name, id:"genre-name", class:"form-control" %>
 </div>
 
 <%= button_to '新規登録', 'admin_genres_path', method: :post %>

 
 <% end %>
  <h5>ジャンル</h5>
  <% @genres.each do |genre| %>
  <span><%= genre.name %></span>
  <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success"%></td>
  <hr>
 <% end %>