<%= form_with model: @cart_item, url: cart_items_path,local: true do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<div class='container'>
    <div class ='header-cart'>
        <h1 class='text-center mb-50'>カートの中身</h1>
    </div>
    <ul class='list-group'>
        <% @items.each do |item| %>
        <li class='list-group-product d-flex justify-content-between border p-3'>
        <p><%= item.name %></p>
        <span><%= item.price %>円 <a><%= link_to '削除する',cart_item_path(item), method: :delete, data: {confirm: '削除してもいいですか？'} %></a></span>
        </li>
        <% end %>
    </ul>
</div>
<% end %>